* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100vw;
  height: 718px;
  overflow-x: hidden;
  background: #f7f7f9;
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32px;
  align-items: center;
  width: 259px;
  height: 40px;
  margin-right: 140px;
}

.nav-links li a {
  text-decoration: none;
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.nav-bar .header-logo .header-logo-link {
  position: absolute;
  text-decoration: none;
  width: 150px;
  height: 45px;
  top: calc(50% - 40px / 2);
  left: 132px;
  padding: 8px 5px;
  font-weight: bold;
  margin-left: 24px;
  border-radius: 80%;
}

.header-logo-link h3 {
  width: 200px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;
  font-size: 18px;
}

.nav-bar .header-logo .header-logo-link:hover {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav-hamburger {
  padding: 2px 2px;
  position: absolute;
  width: 30px;
  height: 24px;
  top: calc(50% - 30px / 2);
  border-radius: 8px;
  right: 35px;
  border-style: none;
  margin-right: 12px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
}

.nav-hamburger .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #6070ff;
}

.hamburger-lines:hover {
  cursor: pointer;
}

.intro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  width: 927px;
}

.intro h1 {
  width: 927px;
  height: 120px;
  font-family: "Poppins", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: 150px;
}

.intro p {
  margin-top: 15px;
  position: static;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.intro .intro-p-firstOne {
  height: 95px;
  display: flex;
  align-items: center;
  width: auto;
  margin-top: 2px;
}

.connect-div {
  text-decoration: none;
  position: static;
  width: 217px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgb(96, 112, 255);
}

.connect-about-myself {
  margin-top: 5px;
}

.connect-a {
  text-decoration: none;
}

.connect-a h3 {
  font-weight: 500;
  color: rgb(96, 112, 255);
  height: 24px;
}

.connect-a :hover {
  cursor: pointer;
}

.social-icons {
  margin-bottom: 106px;
  margin-top: 25px;
  text-decoration: none;
}

.social-icons ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.social-icons ul li i {
  margin-right: 20px;
  font-size: 30px;
  text-decoration: none;
  color: #505f79;
}

.intro .social-icons ul li:hover {
  color: rebeccapurple;
  cursor: pointer;
}

.headline {
  background-image: url(./styling-features-pictures/desktop-backg.svg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 25%;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.first-headline {
  justify-content: center;
  background-image: url(./styling-features-pictures/Header\ bg.png);
  background-position: right;
  background-size: contain;
  height: 820px;
}

.container {
  width: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TESTIMONIALS */

.works {
  margin-top: 50px;
  background-color: var(--light-pink);
}

.works .grid-wrapper {
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-box {
  background-color: white;
  width: 80%;
  margin-bottom: 100px;
  border-radius: 15px;
  margin-top: 18px;
  box-shadow: 5px 5px 30px rgba(56, 42, 42, 0.445);
  position: relative;
  padding: 25px;
  height: 500px;
}

.hand-cursor {
  position: absolute;
  width: 90px;
  height: 87px;
  right: 76px;
  top: 323.05px;
  background: url(./styling-features-pictures/hand-cursor\ 1.png);
  transform: rotate(-10deg);
}

.grid-box img {
  align-self: center;
  height: 448px;
  width: 50%;
}

.img-on-right {
  float: right;
}

.img-on-left {
  float: left;
}

.content-box-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  align-items: flex-start;
  text-align: center;
  padding-left: 25px;
}

.title-grid-box {
  margin-bottom: 15px;
}

.title-grid-box h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.canopy-row h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #344563;
}

.canopy-row {
  display: flex;
  margin-bottom: 28px;
}

.canopy-row ul {
  display: flex;
  margin-left: 18px;
}

.canopy-row ul li {
  display: flex;
  margin-right: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.content-box-works p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

.ul-buttons-lg {
  display: flex;
  list-style: none;
  margin-bottom: 25px;
}

.li-buttons-lg {
  margin-right: 10px;
  width: fit-content;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.li-buttons-lg .buttons-lg {
  padding: 4px 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  border: none;
}

.li-buttons-lg .buttons-lg:hover {
  cursor: pointer;
}

.see-proj-btn-itself {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 128px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ffff;
  border-radius: 8px;
}

.see-proj-btn-itself:hover {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #6070ff;
  box-shadow: 5px 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transition: 0.5s;
}

.see-proj-btn-itself:active {
  background: #2230d2;
  transition: 0.5s;
}

#active-one {
  background: #4053fc;
  box-shadow: 2px 16px 26px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.para-testi {
  margin-bottom: 20px;
  width: auto;
  height: 76px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.row-buttons-languages {
  margin-bottom: 15px;
}

.title-grid-box {
  margin-top: 20px;
}

.testimonials .grid-box .rating {
  color: var(--light-Purple);
}

.testimonials .grid-box .rating-special-one {
  color: var(--Pink);
}

.about-myself {
  border-top-right-radius: 180px;
  border-bottom-left-radius: 0;
  background-image: none;
  padding-left: 95px;
  padding-right: 95px;
}

.intro-content .title-about-myself {
  height: 101px;
  line-height: 50px;
  align-self: left;
  font-size: 40px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.intro-content {
  width: 650px;
}

.about-ms {
  margin-top: 24px;
  margin-bottom: 24px;
}

.resume-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 165px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.accordion-menu {
  list-style: none;
}

.accordion-menu {
  width: 100%;
  margin-top: 36px;
  background: #fff;
  border-radius: 4px;
  height: 484.15px;
}

.dropdownlink {
  cursor: pointer;
  height: 72px;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
}

.bottom-separator {
  border-bottom: 2px solid #dfe1e6;
}

.fa-chevron-down {
  right: 12px;
  left: auto;
}

.submenuItems {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: #fff;
  list-style: none;
  padding: 12px;
}

.submenuItems li {
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 120px;
  border: none;
  border-radius: 8px;
  background-color: #f7f7f9;
  margin-bottom: 14px;
  position: relative;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.about-titles {
  position: absolute;
  top: 24px;
  left: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
}

.arrows {
  position: absolute;
  top: 24px;
  right: 18px;
  height: 8px;
  width: 12px;
}

.circle-menu-pic {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  border: 1px solid #ffff;
}

.submenuItems a {
  text-decoration: none;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.intro-content p {
  margin-top: 0;
}

/* CONTACT FORM FOOTER */
.contact-form {
  margin-top: 0;
  background-image: url(./styling-features-pictures/contact\ form\ background\ shapes@2x.png);
  padding: 50px;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 0;
  height: 860px;
}

.conctact-me-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#conctact-me-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 679px;
  max-width: 500px;
  border: none;
}

.title-para-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-contact-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ffff;
}

#para-contact-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 27px;
  width: auto;
  height: 102px;
}

#full-name,
#email-address {
  min-height: 48px;
  background: #ffff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #010203;
  padding: 15px 16px;
  border: none;
}

#message {
  height: 170px;
  border-radius: 8px;
  margin-bottom: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 16px;
  border: none;
}

.contact-btn {
  width: 150px;
  min-height: 48px;
  align-self: center;
  background: #ffff;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: none;
  padding: 15px 16px;
}

.contact-btn:hover {
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  background: #6070ff;
  box-shadow: 5px 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transition: 0.5s;
}

.contact-btn:active {
  background: #2230d2;
  transition: 0.5s;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .intro h1 {
    margin-bottom: 80px;
  }

  #full-name,
  #email-address {
    padding-left: 10px;
  }

  #message {
    padding-left: 10px;
  }

  .first-connect-div {
    margin-top: 60px;
  }

  .contact-form {
    margin-top: 0;
    background-image: url(./styling-features-pictures/try.png);
    background-position: right;
    background-size: contain;
    padding: 0;
    height: 780px;
  }

  .intro .intro-p-firstOne {
    margin-top: 15px;
  }

  .first-headline {
    justify-content: center;
    background-image: url(./styling-features-pictures/header-shapes\ mobile.png);
    background-position: right;
    background-size: contain;
    height: 720px;
  }

  body {
    height: 100vh;
    min-height: 500px;
    max-height: 600px;
  }

  .intro {
    flex-direction: column;
    width: 80%;
  }

  .intro h1 {
    width: 100%;
    height: 150px;
  }

  .intro p {
    width: auto;
    height: auto;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
    width: 80%;
  }

  .para-testi {
    width: 295px;
  }

  .about-myself {
    height: 1263px;
    padding: 0;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .works .grid-box img {
    width: 100%;
  }

  .grid-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 752px;
    width: auto;
    max-width: 400px;
  }

  .content-box-works {
    width: 100%;
    height: 80%;
    padding: 15px;
  }

  #active-one {
    color: #396df2;
    border: 1px solid #6070ff;
    background: #ffff;
    box-shadow: none;
  }

  .canopy-row {
    margin-bottom: 25px;
  }

  .title-grid-box h2 {
    margin-bottom: 15px;
  }

  .content-box-works p {
    margin-bottom: 25px;
  }

  .contact-btn {
    align-self: flex-start;
  }

  #para-contact-me {
    margin-bottom: 57px;
  }

  .nav-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-bar .header-logo .header-logo-link {
    left: 32px;
  }

  .circle-menu-pic {
    position: absolute;
  }

  .submenuItems a {
    position: absolute;
  }

  .submenuItems {
    display: block;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 14px;
    position: relative;
    gap: 4px;
    padding: 2px;
  }

  .submenuItems li {
    height: 66.72px;
    width: auto;
    border: none;
    border-radius: 8px;
    background-color: #f7f7f9;
    margin-bottom: 10px;
    position: relative;
    gap: 2px;
    padding: 2px;
  }

  .nav-links {
    display: none;
  }

  .hand-cursor {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 940px) {
  body {
    height: 100vh;
    min-height: 500px;
    max-height: 600px;
  }

  .intro {
    flex-direction: column;
    width: 80%;
  }

  .first-headline {
    justify-content: center;
    background-image: url(./styling-features-pictures/Header\ bg.png);
    background-position: right;
    background-size: contain;
    height: 820px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: initial;
    background-size: cover;
  }

  .intro h1 {
    width: 100%;
    height: 150px;
  }

  .intro p {
    width: auto;
    height: auto;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
  }

  .para-testi {
    width: 295px;
  }

  .about-myself {
    height: 1263px;
    padding: 0;
    background-image: none;
  }

  .works .grid-box img {
    width: 100%;
  }

  .grid-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 752px;
    width: auto;
    max-width: 400px;
  }

  .content-box-works {
    width: 100%;
    height: 80%;
    padding: 15px;
  }

  #active-one {
    color: #396df2;
    border: 1px solid #6070ff;
    background: #ffff;
    box-shadow: none;
  }

  .canopy-row {
    margin-bottom: 25px;
  }

  .title-grid-box h2 {
    margin-bottom: 15px;
  }

  .content-box-works p {
    margin-bottom: 25px;
  }

  .contact-btn {
    align-self: flex-start;
  }

  #para-contact-me {
    margin-bottom: 57px;
  }

  .nav-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-bar .header-logo .header-logo-link {
    left: 32px;
  }

  .circle-menu-pic {
    position: absolute;
  }

  .submenuItems a {
    position: absolute;
  }

  .submenuItems {
    display: block;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 14px;
    position: relative;
    gap: 4px;
    padding: 2px;
  }

  .submenuItems li {
    height: 66.72px;
    width: auto;
    border: none;
    border-radius: 8px;
    background-color: #f7f7f9;
    margin-bottom: 10px;
    position: relative;
    gap: 2px;
    padding: 2px;
  }

  .nav-links {
    display: none;
  }

  .hand-cursor {
    display: none;
  }

  .contact-form {
    margin-top: 0;
    background-image: url(./styling-features-pictures/contact\ form\ background\ shapes@2x.png);
    background-position: right;
    background-size: contain;
    padding: 2px;
  }
}

@media only screen and (min-width: 940px) and (max-width: 1200px) {
  .intro .intro-p-firstOne {
    width: auto;
  }

  .intro-content p {
    height: auto;
  }

  .first-headline {
    justify-content: center;
    background-image: url(./styling-features-pictures/Header\ bg.png);
    background-position: right;
    background-size: contain;
    height: 820px;
  }

  .para-testi {
    width: auto;
  }

  .contact-form {
    margin-top: 0;
    background-image: url(./styling-features-pictures/contact\ form\ background\ shapes@2x.png);
    background-position: initial;
  }
}
